<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maxwell Lane's Resume</title>
</head>
<body>
    <header>
        <h1>Maxwell Lane</h1>
        <p>Aspiring Intern</p>
    </header>
    <section>
        <h2>Education</h2>
        <p>University of Colorado Boulder, BS in Computer Science, Graduating 2027</p>
        <p>4.0 GPA Last Semester!</p>
    </section>
    <section>
        <h2>Experience</h2>
        <p>Fanatics Sportsbook</p>
        <p>Part-time trader position, </p>
        <ul>
            <li>Set betting lines for users</li>
            <li>Manipulate company algorithm based on success of previous bets</li>
            <!-- More items -->
        </ul>
        <!-- Add more job experiences here -->
    </section>
    <!-- You can add more sections like skills, certifications, etc. -->
    <footer>
        Contact Information: 
    </footer>
    <footer>
        Email: maxwell.lane@colorado.edu 
    </footer>
    <footer>
        LinkedIn: https://www.linkedin.com/in/maxwell-j-lane/
    </footer>
</body>
</html>
